.footer1{
    background-color: rgb(44 32 32);
    margin-top: 51px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    /* box-sizing: border-box; */
}

@media screen and (max-width:600px) {
    .footer1{
        background-color: rgb(44 32 32);
        width: 100%;
        margin-top: 51px;
        padding-top: 40px;
        padding-bottom: 40px;
        color: white;
        box-sizing: border-box;
    }
}

