.manageitem{
    display: flex;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}
.manageImg{
    width: 138px;
    height: 147px;
    border-radius: 50%;
}
.htwomanage{
    font-size: 18px;
}